body{
    background-color: #badad8; 
    margin-top: 98px;
}


table
{
    width: 45%;
    border-collapse:collapse;
}

table,th,td{
    border: 5px solid rgb(0, 0, 0);
}

.table1{
    width:30%;
}


.block{
    width:45%;
    border: 10px;
    border-style: solid;
    padding-left: 3%;
    padding-bottom: 30%;
    margin:auto;
}


